/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light background for better contrast */
    color: #333; /* Neutral text color */
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    color: #020202;
    margin: 20px 0;
    font-size: 2.5em;
  }
  
  /* Movie List Section */
  #films {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #b33030;
    border-radius: 8px;
    background-color: #f7f3f3;
    box-shadow: 0 2px 5px rgba(7, 0, 0, 0.1);
  }
  
  #films li {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #films li:last-child {
    border-bottom: none;
  }
  
  #films li:hover {
    background-color: #a9b6c4;
    color: #777676;
  }
  
  /* Movie Details Section */
  #movie-details {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #movie-details h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  #movie-details img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
  }
  
  #movie-details p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
  }
  
  /* Buttons */
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: rgb(128, 128, 128);
    cursor: not-allowed;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    #movie-details {
      padding: 15px;
    }
  
    #films {
      max-width: 90%;
    }
  }